<link rel="stylesheet" type="text/css" href="/styles/common.css">
<link rel="stylesheet" type="text/css" href="/styles/blacklist.css">
<div id="blacklist">

	<div class="area left">
		<table>
			<thead>
				<th colspan="2">
					<span id="column_Categories">Blacklisted Categories</span> <span class="count"></span>
					<button type="button" class="clear">Remove All</button>
				</th>
			</thead>
			<tbody id="table_categories">
				<tr class="input">
					<td>
						<input type="text" placeholder="Name of Category to blacklist" />
					</td>
					<td>
						<button type="button" class="add">Add</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="area center">
		<table>
			<thead>
				<th colspan="2">
					<span id="column_Channels">Blacklisted Channels</span> <span class="count"></span>
					<button type="button" class="clear">Remove All</button>
				</th>
			</thead>
			<tbody id="table_channels">
				<tr class="input">
					<td>
						<input type="text" placeholder="Name of Channel to blacklist" />
					</td>
					<td>
						<button type="button" class="add">Add</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="area right">
		<table>
			<thead>
				<th colspan="2">
					<span id="column_Tags">Blacklisted Tags</span> <span class="count"></span>
					<button type="button" class="clear">Remove All</button>
				</th>
			</thead>
			<tbody id="table_tags">
				<tr class="input">
					<td>
						<input type="text" placeholder="Name of Tag to blacklist" />
					</td>
					<td>
						<button type="button" class="add">Add</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="actions">

		<div class="left">

			<button type="button" class="lowlight" id="import">
				Import
			</button>
			<button type="button" class="lowlight" id="export">
				Export
			</button>

		</div>

		<div class="center">

			<button type="button" id="save">
				Save
			</button>
			<button type="button" id="cancel">
				Cancel
			</button>

		</div>

	</div>

</div>
<script src="/scripts/common.js"></script>
<script src="/scripts/storage.js"></script>
<script src="/scripts/blacklist.js"></script>