<link rel="stylesheet" type="text/css" href="/styles/common.css">
<link rel="stylesheet" type="text/css" href="/styles/blacklist.css">
<div id="blacklist">

	<div class="category left">
		<table>
			<thead>
				<th colspan="2">
					<span id="column_Games">Blacklisted Games</span> <span class="count"></span>
					<button type="button" class="clear">Remove All</button>
				</th>
			</thead>
			<tbody id="table_games">
			</tbody>
		</table>
	</div>

	<div class="category right">
		<table>
			<thead>
				<th colspan="2">
					<span id="column_Channels">Blacklisted Channels</span> <span class="count"></span>
					<button type="button" class="clear">Remove All</button>
				</th>
			</thead>
			<tbody id="table_channels">
			</tbody>
		</table>
	</div>

	<div class="category left">
		<table>
			<thead>
				<th colspan="2">
					<span id="column_Communities">Blacklisted Communities</span> <span class="count"></span>
					<button type="button" class="clear">Remove All</button>
				</th>
			</thead>
			<tbody id="table_communities">
			</tbody>
		</table>
	</div>

	<div class="category right">
		<table>
			<thead>
				<th colspan="2">
					<span id="column_Creative">Blacklisted Creative</span> <span class="count"></span>
					<button type="button" class="clear">Remove All</button>
				</th>
			</thead>
			<tbody id="table_creative">
			</tbody>
		</table>
	</div>

	<div class="actions">
		<button type="button" id="save">
			Save
		</button>
		<button type="button" id="cancel">
			Cancel
		</button>
	</div>

</div>
<script src="/scripts/blacklist.js"></script>