<link rel="stylesheet" type="text/css" href="/styles/common.css">
<link rel="stylesheet" type="text/css" href="/styles/popup.css">
<div id="popup">

	<div id="icon"></div>

	<div class="action">
		<button type="button" id="open_blacklist">
			Manage Blacklist
		</button>
	</div>

	<div class="action">
		<button type="button" id="toggle_extension">
			Disable Extension
		</button>
	</div>

	<div class="toggle-x checkable">
		<input type="checkbox" checked id="toggle_buttons" /> <label for="toggle_buttons">Show X Buttons</label>
	</div>

</div>
<script src="/scripts/common.js"></script>
<script src="/scripts/popup.js"></script>