#blacklist {
	padding-bottom: 96px;
}

	#blacklist .settings {
		font-size: 80%;
		margin-bottom: 24px;
	}

	#blacklist .settings h2 {
		color: #9147FF;
		margin-bottom: 4px;
		margin-top: -8px;
	}

		#blacklist .settings .left,
		#blacklist .settings .right {
			display: inline-block;
			vertical-align: top;
			width: 50%;
		}

		#blacklist .settings .left {
			text-align: left;
		}
		#blacklist .settings .right {
			text-align: right;
		}

		#blacklist .settings .storage-stats {
			font-family: Consolas, 'Courier New', Courier, monospace;
			font-size: 11px;
			margin-top: 8px;
			opacity: 0.50;
			visibility: hidden;
		}

	#blacklist .area {
		display: inline-block;
		margin-bottom: 64px;
		vertical-align: top;
		width: 24.5%;
	}
		#blacklist .area.left,
		#blacklist .area.center-left,
		#blacklist .area.center-right {
			margin-right: 0.66%;
		}

		#blacklist .area th {
			position: relative;
		}

		#blacklist .area td:nth-child(1) {
			width: 99%;
		}
		#blacklist .area td:nth-child(2) {
			width: 1%;
		}

		#blacklist .area tr.input td:first-child {
			padding-left: 2px;
			padding-right: 2px;
		}

		#blacklist .area input {
			padding: 4px;
			width: 100%;
		}

		#blacklist .area button {
			width: 96px;
		}
			#blacklist .area button.clear {
				border-color: #FFFFFF;
				font-weight: normal;
				padding: 4px 8px;
				position: absolute;
				right: 8px;
				top: 6px;
			}

	#blacklist .actions {
		background-color: #DAD8DE;
		border-top: 2px solid #C0BDC7;
		bottom: 0px;
		display: flex;
		justify-content: space-between;
		left: 0px;
		padding: 16px 32px;
		position: fixed;
		text-align: center;
		width: 100%;
	}

		#blacklist .actions .left button {
			width: 128px;
		}

		#blacklist .actions button {
			margin-right: 16px;
		}
			#blacklist .actions button:last-child {
				margin-right: 0px;
			}

	#blacklist .hint {
		color: #9147FF;
		cursor: pointer;
		display: inline-block;
		font-size: 70%;
		margin-top: 4px;
	}

#blacklist #clearStorages {
	font-size: 11px;
	margin-top: 8px;
	padding: 4px;
}

@media (max-width: 1023px) {

	#blacklist .area {
		width: 100%;
	}

}

@media (max-width: 799px) {

	#blacklist .actions button {
		margin-bottom: 8px;
		margin-right: 0px;
	}

}
